body{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    padding: 0;
	margin: 0;
}

nav{
    margin: 44px 120px 0px 120px;
    display: flex;
    justify-content:space-between;
    align-items: center;
}
nav h4{
    font-family: Gilda Display;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 32.96px;
    letter-spacing: 0.1em;
    text-align: left;
    color: #25A59E;
}

.header-text{
    font-family: Gilda Display;
    font-size: 10.625rem;
    font-weight: 400;
    line-height: 170px;
    text-align: center;
    margin-bottom: 0;
    margin-top: 0;
}

.header-travel{
    color: #25A59E;
}


.hero-section{
    width: 100%;
    /* height: 1070px; */
    display: flex;
    flex-direction: column;
}  


.find-destination{
    font-family: Gilda Display;
    font-size: 4.5rem;
    font-weight: 400;
    line-height: 84px;
    text-align: center;
}
.destination-choice{
    font-family: Urbanist;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
    
}
 /* image from section one */
.travel-selfies{
    display: flex;
	flex-direction: column;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	height: 655px;
}

.blurry{
    position: absolute;  
    top: -20%;
    left: 0;
    width: 100%;
    z-index: 1;
}

.ellipse{
    z-index: 2;
	position: absolute;
	bottom: 0;
	left: 44px;
}
.selfie{
    z-index: 3;
	position: absolute;
}
.destination-images{
    display: flex;
    flex-wrap: wrap;
    margin-left: 70px;
    margin-right: 60px;
}
.lake{
    width: Fixed (370.67px)px;
height: Fixed (404px)px;
padding: 16px 16px 36px 16px;
gap: 28px;
border: 1px 0px 0px 0px white; 
opacity: 0px;


}
.lake-name{
font-family: Urbanist;
font-size: 1.5rem;
font-weight: 700;
line-height: 36px;
text-align: left;
margin-top: 0;
margin-bottom: 0;

}
.lake-location{
    display: flex;
    align-items: center;
    margin-top: 0;
    margin-bottom: 0;
}
.location-logo{
    margin-right: 10px;
}
.location{
    margin-left: 10px;
font-family: Urbanist;
font-size: 1.125rem;
font-weight: 600;
line-height: 32px;
text-align: left;
}
