body{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    padding: 0;
	margin: 0;
}

nav{
    margin: 44px 120px 0px 120px;
    display: flex;
    justify-content:space-between;
    align-items: center;
}
nav h4{
    font-family: Gilda Display;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 32.96px;
    letter-spacing: 0.1em;
    text-align: left;
    color: #25A59E;
}

.header-text{
    font-family: Gilda Display;
    font-size: 10.625rem;
    font-weight: 400;
    line-height: 170px;
    text-align: center;
    margin-bottom: 0;
    margin-top: 0;
}

.header-travel{
    color: #25A59E;
}


.hero-section{
    width: 100%;
    /* height: 1070px; */
    display: flex;
    flex-direction: column;
}  


.find-destination{
    font-family: Gilda Display;
    font-size: 4.5rem;
    font-weight: 400;
    line-height: 84px;
    text-align: center;
}
.destination-choice{
    font-family: Urbanist;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
    
}
 /* image from section one */
.travel-selfies{
    display: flex;
	flex-direction: column;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	height: 655px;
}

.blurry{
    position: absolute;  
    top: -20%;
    left: 0;
    width: 100%;
    z-index: 1;
}

.ellipse{
    z-index: 2;
	position: absolute;
	bottom: 0;
	left: 44px;
}
.selfie{
    z-index: 3;
	position: absolute;
}
.destination-images{
    display: flex;
    flex-wrap: wrap;
    margin-left: 70px;
    margin-right: 60px;
}
.lake{
    width: Fixed (370.67px)px;
height: Fixed (404px)px;
padding: 16px 16px 36px 16px;
gap: 28px;
border: 1px 0px 0px 0px white; 
opacity: 0px;


}
.lake-name{
font-family: Urbanist;
font-size: 1.5rem;
font-weight: 700;
line-height: 36px;
text-align: left;
margin-top: 0;
margin-bottom: 0;

}
.lake-location{
    display: flex;
    align-items: center;
    margin-top: 0;
    margin-bottom: 0;
}
.location-logo{
    margin-right: 10px;
}
.location{
    margin-left: 10px;
    font-family: Urbanist;
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 32px;
    text-align: left;
}
.choose-us{
    display:flex;
    flex-direction: column;

}
.card-header-title{
    font-family: Gilda Display;
    font-size: 4.5rem;
    font-weight: 400;
    line-height: 84px;
    text-align: center;
}
.card-header-body{
    font-family: Urbanist;
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 32px;
    text-align: center;
    color:#737373;
    margin-top: 24px;
}
.choose-us-cards{
    /* display: grid; */
    /* grid-template-columns:repeat(3, minmax(0,1fr)); */
    display: flex;
    gap: 28px;
}
.choose-us--card{box-shadow: 10px 26px 150px 0px #4343641A;
    border-top: 4px solid #25A59E;
    width: Fill (381.33px)px;
height: Hug (400px)px;
padding: 40px 32px 48px 32px;
gap: 80px;
opacity: 0px;    
}
.card--title{
    font-family: Gilda Display;
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 62px;
    text-align: left;
margin-bottom: 0;}
    
    .card--body{
    font-family: Urbanist;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 32px;
    text-align: left;
    margin-top: 5px;
}
.card--footer{
    color: #25A59E;
    display: flex;
    justify-content: end;
}
.card--footer p{
    font-family: Gilda Display;
    font-size: 20px;
    font-weight: 400;
    line-height: 23.54px;
    text-align: left;
    margin-left: 10px;
}
.card--footer img{
    margin-left: 10px;
}
.best-guide{
    margin-bottom: 10px;
}
.special-ticket{
   background-color:  #25A59E;
    color: white;
}
.trip-memory{
    display: flex;
    gap: 26px;
   padding:  100px, 120px, 100px, 120px;
   align-content: center;
}
.trip-memory--text{
    width: Fill (534px)px;
height: Hug (292px)px;
gap: 48px;
opacity: 0px;
margin-left: 12px ;
align-content: center;
bottom: 20px;
}
.trip-memory--header{
    font-family: Gilda Display;
    font-size: 4.5rem;
    font-weight: 400;
    line-height: 84px;
    text-align: left;
    margin-bottom: 0;

    
}
.trip-memory--body{
font-family: Urbanist;
font-size: 1,125rem;
font-weight: 500;
line-height: 32px;
text-align: left;
color: #595959;
margin-top: 20px;

}
.trip-memory--image{
    display: flex;
	flex-direction: column;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	height: 685px;
    bottom: 20px;
    top: 60px;
    align-content: center;

}
.m-shape{
	position: absolute;
	bottom: 0;
	left: 80px;
}
.travel-image{
    position: absolute;
    bottom: 0;
}
.trip-documentation-header{
font-family: Gilda Display;
font-size: 72px;
font-weight: 400;
line-height: 84px;
text-align: center;
}
.trip-documentary-video{
    width: Hug (1,440px)px;
height: Hug (600px)px;
gap: 10px;
opacity: 0px;
}
.best-offer-header{
    margin-top: 48px;
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.best-offer-text{
font-family: Gilda Display;
font-size: 72px;
font-weight: 400;
line-height: 84px;
text-align: center;

}
.click{
    font-family: Urbanist;
font-size: 18px;
font-weight: 600;
line-height: 21.6px;
text-align: center;
background-color: #25A59E;
width: 10%;
color: white;
height: 54px;
padding: 16px, 32px, 16px, 32px;
bottom: 30%%;
}