body {
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	padding: 0;
	margin: 0;
}

nav {
	margin: 44px 120px 0px 120px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
nav h4 {
	font-family: Gilda Display;
	font-size: 1.8rem;
	font-weight: 400;
	line-height: 32.96px;
	letter-spacing: 0.1em;
	text-align: left;
	color: #25a59e;
}

.header-text {
	font-family: Gilda Display;
	font-size: 10.625rem;
	font-weight: 400;
	line-height: 170px;
	text-align: center;
	margin-bottom: 0;
	margin-top: 0;
}

.header-travel {
	color: #25a59e;
}

.hero-section {
	width: 100%;
	/* height: 1070px; */
	display: flex;
	flex-direction: column;
}

.find-destination {
	font-family: Gilda Display;
	font-size: 4.5rem;
	font-weight: 400;
	line-height: 84px;
	text-align: center;
}
.destination-choice {
	font-family: Urbanist;
	font-size: 1.5rem;
	font-weight: 500;
	line-height: 24px;
	text-align: center;
}
/* image from section one */
.travel-selfies {
	display: flex;
	flex-direction: column;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	height: 655px;
}

.blurry {
	position: absolute;
	top: -20%;
	left: 0;
	width: 100%;
	z-index: 1;
}

.ellipse {
	z-index: 2;
	position: absolute;
	bottom: 0;
	left: 44px;
}
.selfie {
	z-index: 3;
	position: absolute;
}
.destination-images {
	/* display: flex;
    flex-wrap: wrap; */
	display: grid;
	grid-template-columns: repeat(3, minmax(0, 1fr));
	margin-left: 70px;
	margin-right: 60px;
}
.lake {
	width: Fixed (370.67px) px;
	height: Fixed (404px) px;
	padding: 16px 16px 36px 16px;
	gap: 28px;
	border: 1px 0px 0px 0px white;
	opacity: 0px;
}
.lake-name {
	font-family: Urbanist;
	font-size: 1.5rem;
	font-weight: 700;
	line-height: 36px;
	text-align: left;
	margin-top: 0;
	margin-bottom: 0;
}
.lake-location {
	display: flex;
	align-items: center;
	margin-top: 0;
	margin-bottom: 0;
}
.location-logo {
	margin-right: 10px;
}
.location {
	margin-left: 10px;
	font-family: Urbanist;
	font-size: 1.125rem;
	font-weight: 600;
	line-height: 32px;
	text-align: left;
}
.choose-us {
	display: flex;
	flex-direction: column;
	padding: 100px 120px;
}
.choose-us-header h4 {
	font-family: Gilda Display;
	font-size: 4.5rem;
	font-weight: 400;
	line-height: 84px;
	text-align: center;
	margin: 0;
}
.choose-us-header p {
	font-family: Urbanist;
	font-size: 1.125rem;
	font-weight: 500;
	line-height: 32px;
	text-align: center;
	color: #737373;
	margin-top: 24px;
}
.choose-us-cards {
	/* display: grid; */
	/* grid-template-columns:repeat(3, minmax(0,1fr)); */
	margin-top: 60px;
	display: flex;
	gap: 28px;
}
.choose-us--card {
	box-shadow: 10px 26px 150px 0px #4343641a;
	border-top: 4px solid #25a59e;
	width: Fill (381.33px) px;
	height: Hug (400px) px;
	padding: 40px 32px 48px 32px;
	gap: 80px;
	opacity: 0px;
}
.card--title {
	font-family: Gilda Display;
	font-size: 2.5rem;
	font-weight: 400;
	line-height: 62px;
	text-align: left;
	margin-bottom: 0;
}

.card--body {
	font-family: Urbanist;
	font-size: 1.125rem;
	font-weight: 400;
	line-height: 32px;
	text-align: left;
	margin-top: 5px;
}
.card--footer {
	color: #25a59e;
	display: flex;
	justify-content: end;
}
.card--footer p {
	font-family: Gilda Display;
	font-size: 20px;
	font-weight: 400;
	line-height: 23.54px;
	text-align: left;
	margin-left: 10px;
}
.card--footer img {
	margin-left: 10px;
}
.best-guide {
	margin-bottom: 10px;
}
.special-ticket {
	background-color: #25a59e;
	color: white;
}
.trip-memory {
	display: flex;
	gap: 26px;
	padding: 100px 120px;
	align-items: center;
}
.trip-memory--text {
	width: 100%;
}
.trip-memory--header {
	font-family: Gilda Display;
	font-size: 4.5rem;
	font-weight: 400;
	line-height: 84px;
	text-align: left;
	margin-bottom: 0;
}
.trip-memory--body {
	font-family: Urbanist;
	font-size: 1.125rem;
	font-weight: 500;
	line-height: 32px;
	text-align: left;
	color: #595959;
	margin-top: 20px;
}
.trip-memory--image {
	display: flex;
	flex-direction: column;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	height: 485px;
	align-content: center;
}
.m-shape {
	position: absolute;
	bottom: 0;
	width: 90%;
	height: 239px;
	top: 246px;
	left: 86px;
	gap: 0px;
	right: 0;
}
.travel-image {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 485px;
	gap: 0px;
	opacity: 0px;
}
.trip-documentation {
	display: flex;
	flex-direction: column;
	gap: 48px;
	padding-bottom: 100px;
}

.trip-documentation-header {
	font-family: Gilda Display;
	font-size: 4.5rem;
	font-weight: 400;
	line-height: 84px;
	text-align: center;
	width: 60%;
	margin: 0 auto;
}
.trip-documentary-video {
	width: 100px;
	height: 600px;
}
footer {
	display: flex;
	flex-direction: column;
	padding: 0px 120px 100px 120px;
	gap: 80px;
}
.best-offer-content {
	display: flex;
	padding: 48px 0;
	justify-content: space-between;
	align-items: center;
}

.best-offer-text {
	font-family: Gilda Display;
	font-size: 72px;
	font-weight: 400;
	line-height: 84px;
	text-align: center;
	margin: 0;
}
button {
	font-family: Urbanist;
	font-size: 18px;
	font-weight: 600;
	line-height: 21.6px;
	text-align: center;
	background-color: #25a59e;
	width: 10%;
	color: white;
	height: 54px;
	padding: 16px, 32px, 16px, 32px;
	border: 0;
}

.footer-content {
	display: flex;
	justify-content: space-between;
}

.footer-text-socials {
	width: 30%;
}

.footer-text {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 20px;
	margin: 0;
}
.footer-text h4 {
	font-family: Gilda Display sans-serif;
	font-size: 28px;
	font-weight: 400;
	line-height: 32.96px;
	letter-spacing: 0.1em;
	text-align: left;
	color: #25a59e;
	margin: 0;
}
.footer-text p {
	font-family: Urbanist sans-serif;
	font-size: 18px;
	font-weight: 500;
	line-height: 32px;
	text-align: left;
	color: #595959;
}

.contact-us {
	display: flex;
	gap: 32px;
}

.contact-us div {
	width: 40px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 100%;
	background-color: #eafaf9;
}

.links {
	display: flex;
	gap: 60px;
	align-self: flex-end;
}

@media only screen and (max-width: 480px) {
	body {
		background-color: red;
	}
}
